@using EduHome.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@model Slider
<div class="content-wrapper">
    <div class="row">
        <div>
            <img src="~/assets/img/slider//@Model.Img" style="max-width:25%"
                 alt="Inner Image" />
            <h4>Title:@Model.Title</h4>
         
            <h4>Description:@Model.Description</h4>
        </div>
        <div>
            <a class="btn btn-primary " asp-action="Index">go back </a>
        </div>
    </div>

</div>

